
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
    @await Component.InvokeAsync("_AdminLayoutHeadComponentPartial") <!-- Bizim Admin paneline ait tüm <head> yapısı (meta, css, font, title,script kodları) bu ViewComponent üzerinden yönetilir -->
<body>
    <div class="wrapper">
        @await Component.InvokeAsync("_AdminLayoutSidebarComponentPartial") <!-- Bizim Admin paneline ait tüm sidebar (sol menü) yapısı bu ViewComponent üzerinden yönetilir -->
        @await Component.InvokeAsync("_AdminLayoutHeaderComponentPartial") <!-- Bizim Admin paneline ait tüm top header (üst menü) yapısı bu ViewComponent üzerinden yönetilir -->
        <div class="page-content-wrapper">
            <div class="page-content">
                @await Component.InvokeAsync("_AdminLayoutBreadCrumbComponentPartial") <!-- Bizim Admin paneline ait tüm breadcrumb (sayfa içi gezinme menüsü) yapısı bu ViewComponent üzerinden yönetilir -->
                @RenderBody() <!-- Admin panelinin her bir sayfasına ait içerikler bu kısımda render edilecektir -->
            </div>
        </div>
        @await Component.InvokeAsync("_AdminLayoutSwitcherComponentPartial") <!-- Bizim Admin paneline ait tüm tema değiştirme (switcher) yapısı bu ViewComponent üzerinden yönetilir -->
    </div>
    @await Component.InvokeAsync("_AdminLayoutScriptsComponentPartial") <!-- Bizim Admin paneline ait tüm script dosyaları bu ViewComponent üzerinden yönetilir -->
</body>
</html>