
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="no-js">

<!-- movielist07:38-->
@await Component.InvokeAsync("_UserLayoutWebUIHeadComponentPartial");  <!-- Burası Bizim head etiketi Alanında tutulan kodlar -->
<body>
	<!--preloading-->
	@await Component.InvokeAsync("_UserLayoutWebUIPreloaderComponentPartial"); <!--Burası bizim preloader alanının tutulduğu kodlar-->
	<!--end of preloading-->
	<!--login form popup-->
	@await Component.InvokeAsync("_UserLayoutWebUILoginModalComponentPartial"); <!--Burası bizim Login (Giriş Yap) ekranımızın tutulduğu alan -->
	<!--end of login form popup-->
	<!--signup form popup-->
    @await Component.InvokeAsync("_UserLayoutWebUIRegisterModalComponentPartial"); <!--Burası bizim SignUp (Kayıt Ol) ekranımızın tutulduğu alan -->
	<!--end of signup form popup-->
	<!-- BEGIN | Header -->
    @await Component.InvokeAsync("_UserLayoutWebUINavbarComponentPartial") <!-- Burası bizim Navbar alanımızın tutulduğu kodlar -->

	
	<!-- END | Header -->
    @await Component.InvokeAsync("_UserLayoutWebUIHeroComponentPartial") <!-- Burası bizim Hero alanımızın tutulduğu kodlar -->
	@RenderBody()

	<!-- footer section-->
	@await Component.InvokeAsync("_UserLayoutWebUIFooterComponentPartial") <!-- Burası bizim Footer alanımızın tutulduğu kodlar -->
	
	<!-- end of footer section-->

	<script src="~/MovieTheme/js/jquery.js"></script>
	<script src="~/MovieTheme/js/plugins.js"></script>
	<script src="~/MovieTheme/js/plugins2.js"></script>
	<script src="~/MovieTheme/js/custom.js"></script>
</body>

<!-- movielist07:38-->
</html>