
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="no-js">

<!-- movielist07:38-->
@await Component.InvokeAsync("_UserLayoutWebUIHeadComponentPartial");  <!-- Burası Bizim head etiketi Alanında tutulan kodlar -->
<body>
	<!--preloading-->
	@await Component.InvokeAsync("_UserLayoutWebUIPreloaderComponentPartial"); <!--Burası bizim preloader alanının tutulduğu kodlar-->
	<!--end of preloading-->
	<!--login form popup-->
	@await Component.InvokeAsync("_UserLayoutWebUILoginModalComponentPartial"); <!--Burası bizim Login (Giriş Yap) ekranımızın tutulduğu alan -->
	<!--end of login form popup-->
	<!--signup form popup-->
    @await Component.InvokeAsync("_UserLayoutWebUIRegisterModalComponentPartial"); <!--Burası bizim SignUp (Kayıt Ol) ekranımızın tutulduğu alan -->
	<!--end of signup form popup-->
	<!-- BEGIN | Header -->
    @await Component.InvokeAsync("_UserLayoutWebUINavbarComponentPartial") <!-- Burası bizim Navbar alanımızın tutulduğu kodlar -->

	
	<!-- END | Header -->
    @await Component.InvokeAsync("_UserLayoutWebUIHeroComponentPartial") <!-- Burası bizim Hero alanımızın tutulduğu kodlar -->
	@RenderBody()

	<!-- footer section-->
	<footer class="ht-footer">
		<div class="container">
			<div class="flex-parent-ft">
				<div class="flex-child-ft item1">
					<a href="index-2.html"><img class="logo" src="~/MovieTheme/images/logo1.png" alt=""></a>
					<p>
						5th Avenue st, manhattan<br>
						New York, NY 10001
					</p>
					<p>Call us: <a href="#">(+01) 202 342 6789</a></p>
				</div>
				<div class="flex-child-ft item2">
					<h4>Resources</h4>
					<ul>
						<li><a href="#">About</a></li>
						<li><a href="#">Blockbuster</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Forums</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Help Center</a></li>
					</ul>
				</div>
				<div class="flex-child-ft item3">
					<h4>Legal</h4>
					<ul>
						<li><a href="#">Terms of Use</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Security</a></li>
					</ul>
				</div>
				<div class="flex-child-ft item4">
					<h4>Account</h4>
					<ul>
						<li><a href="#">My Account</a></li>
						<li><a href="#">Watchlist</a></li>
						<li><a href="#">Collections</a></li>
						<li><a href="#">User Guide</a></li>
					</ul>
				</div>
				<div class="flex-child-ft item5">
					<h4>Newsletter</h4>
					<p>Subscribe to our newsletter system now <br> to get latest news from us.</p>
					<form action="#">
						<input type="text" placeholder="Enter your email...">
					</form>
					<a href="#" class="btn">Subscribe now <i class="ion-ios-arrow-forward"></i></a>
				</div>
			</div>
		</div>
		<div class="ft-copyright">
			<div class="ft-left">
				<p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
			</div>
			<div class="backtotop">
				<p><a href="#" id="back-to-top">Back to top  <i class="ion-ios-arrow-thin-up"></i></a></p>
			</div>
		</div>
	</footer>
	<!-- end of footer section-->

	<script src="~/MovieTheme/js/jquery.js"></script>
	<script src="~/MovieTheme/js/plugins.js"></script>
	<script src="~/MovieTheme/js/plugins2.js"></script>
	<script src="~/MovieTheme/js/custom.js"></script>
</body>

<!-- movielist07:38-->
</html>